body{
    display:flex;
    background-color: #eeeeee;
    flex-direction:column;
}
.container{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    padding: 60px;
    max-width: 600px;
}
.intro{
    margin: 0px;
    padding: 0px;
    display:flex;
    font-weight: bold;
    font-size: 50px;
    box-sizing: border-box;
}
.hero{
    display:flex;
    font-size: 40px;
    max-width: 700px;
    margin-top: 100px;
    box-sizing: border-box;
    flex-wrap: nowrap;
}
.email{
    display:flex;
    flex-wrap: wrap;
    font-size: 20px;
}
.skill-container{
    display:flex;
    margin-top: 50px;
}